<!-- 数据显示box -->
<div class="row" data-ng-show="r">
    <div class="col-sm-10 col-sm-offset-1">

        <div class="box">
        
            <div class="box-header" data-ng-include="'pages/common/box-header.html'">
                <!-- pages/common/box-header.html -->
            </div>
            
            
            <div class="box-body" data-ng-include="'pages/common/box-body.html'">
                <!-- pages/common/box-body.html -->
            </div>
            
            <div class="box-footer" data-ng-include="'pages/common/box-footer.html'">
                <!-- pages/common/box-footer.html -->
            </div>
        </div>
    </div>
</div>

<!-- 模态框（删除） -->
<div data-ng-include="'pages/common/modal-del.html'"></div>

<!-- 模态框（查找） -->
<div class="modal fade" id="modal_search" name="modal_search" role="dialog" aria-labelledby="modal_search" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_search_title">{{ langs.modal_search_header }}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="modal_search_form" novalidate="novalidate">
                    <div class="row">
                    
                        <!-- file_name -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.file_name }}：</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <input type="text" class="form-control pull-left" data-ng-model="search.file_name">
                                </div>
                            </div>
                        </div>

                        <!-- last_mod_time -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.last_mod_time }}：</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <input type="text" class="form-control pull-left" id="search_last_mod_time" name="search_last_mod_time" data-ng-model="search.last_mod_time">
                                </div>
                            </div>
                        </div>
                        
                        <!-- tags -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.tags }}：</label>
                            <div class="col-sm-7">
                                <select multiple class="form-control select2" tabindex="-1" id="search_tags_select2" data-ng-model="search.tags" style="width:100%">
                                    <option data-ng-repeat="tag in video_tags_conf" value="{{ tag.tag_id }}" >
                                        {{ tag.tag_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-ng-click="modal_search_ok()">{{ langs.modal_search_ok }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ langs.modal_close_btn }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- 模态框（播放） -->
<div class="modal fade" id="modal_play" name="modal_play" role="dialog" aria-labelledby="modal_detail" aria-hidden="true">
    <div class="modal-dialog" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_detail_title">{{ play.file_name }} [{{ play.file_size }}MB]</h4>
            </div>
            <div id="modal_detail_body" class="modal-body" style="height:{{modal_max_height}}px;">
                <video id="modal_video" touch-swipe="modal_play_obj.swipe(param_x)" style="margin: auto;display: block; max-width:100%;max-height:100%;margin-top:{{play.margin_top}}px;" src="{{video_url}}" data-ng-click="modal_play_obj.toggle()" >
                    {{langs.not_support}}
                </video>
                <div id="modal_video_loading" aria-hidden="true" style="position: absolute;top:{{(modal_max_height - 85) / 2}}px;width:100%;" align="center">
                    <i class="fa fa-5x fa-spin fa-spinner text-gray"></i>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <div class="col-sm-1 col-xs-2 text-center">{{play.played_time | minute_format}}</div>
                    <div class="progress col-sm-10 col-xs-8" id="modal_progress" style="height:6px;margin:7px 0 7px 0;border-radius:2px;padding:0px;" data-ng-click="modal_play_obj.progress_jump()">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="40" style="width: {{play.progress || 0}}%; padding:0;">
                        </div>
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="40" style="width: {{play.load_progress || 0}}%; padding:0;background: #ddd;">
                        </div>
                    </div>
                    <div class="col-sm-1 col-xs-2 text-center">{{play.duration2 | minute_format}}</div>
                </div>
                <div style="clear:both"></div>
                <div style="margin-top:7px;">
                    <button type="button" class="btn btn-info" title="{{langs.volume}}" style="width:40px;" data-ng-click="modal_play_obj.volume_toggle()">
                        <i id="model_video_volume_switch" class="glyphicon glyphicon-volume-up"></i>
                    </button>
                    <button class="btn progress" id="modal_volume_progress" style="width:80px;height:6px;margin:7px 0 7px 0;border-radius:2px;padding:0px; display: inline-block;" data-ng-click="modal_play_obj.volume_jump()">
                        <div class="progress-bar progress-bar-info" id="modal_volume_progress_bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="40" style="width: 100%; padding:0;">
                        </div>
                    </button>
                    <button type="button" class="btn btn-primary" data-ng-click="modal_play_obj.jump(-15)" title="{{langs.backward}}"><i class="fa fa-backward"></i></button>
                    <button type="button" class="btn btn-primary" data-ng-click="modal_play_obj.toggle()" title="{{modal_play_obj.is_playing ? langs.pause : langs.play}}"><i class="fa {{modal_play_obj.is_playing ? 'fa-pause' : 'fa-play'}}"></i></button>
                    <button type="button" class="btn btn-primary" data-ng-click="modal_play_obj.jump(15)" title="{{langs.forward}}"><i class="fa fa-forward"></i></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ langs.modal_close_btn }}</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框（图片） -->
<div class="modal fade" id="modal_image" name="modal_image" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <img style="margin: auto;display: block;max-width:100%;max-height:{{modal_max_height}}px" src="{{image_url}}"/>
    </div><!-- /.modal -->
</div>

<!-- 模态框（新增/修改） -->
<div class="modal fade" id="modal_add" name="modal_add" role="dialog" aria-labelledby="modal_add" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_add_title">{{ langs[add.a] }}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="modal_add_form" novalidate="novalidate">
                    <div class="row">

                        <!-- duration -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.duration }}：</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <input type="text" class="form-control pull-left" id="search_duration" name="search_duration" data-ng-model="add.duration">
                                </div>
                            </div>
                        </div>

                        <!-- file_name -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.path }}：</label>
                            <div class="col-sm-7">
                                <textarea rows="3" class="form-control pull-left" data-ng-model="add.path">
                                </textarea>
                            </div>
                        </div>

                        <!-- file_name -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.file_name }}：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control pull-left" id="search_file_name" name="search_file_name" data-ng-model="add.file_name">
                            </div>
                        </div>

                        <!-- file_name -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.description }}：</label>
                            <div class="col-sm-7">
                                <textarea rows="5" class="form-control pull-left" data-ng-model="add.description">
                                </textarea>
                            </div>
                        </div>

                        <!-- tags -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.tags }}：</label>
                            <div class="col-sm-7">
                                <select multiple class="form-control" id="add_tags_select2" tabindex="-1" data-ng-model="add.tags" style="width:100%">
                                    <option data-ng-repeat="tag in video_tags_conf" value="{{ tag.tag_id }}" >
                                        {{ tag.tag_name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- add tag -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.add_tag }}：</label>
                            <div class="col-sm-7">
                                <input  class="form-control" tabindex="-1" data-ng-model="add_tag" style="width:40%;float:left; margin-right:5px;"/>
                                <button data-ng-if="add_tag" class="btn btn-success" data-ng-click="modal_add_tag_add()"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-ng-click="modal_add_ok()">{{ langs.submit }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ langs.modal_close_btn }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
