<!-- 数据显示box -->
<div class="row" data-ng-show="r">
    <div class="col-sm-10 col-sm-offset-1">

        <div class="box">
        
            <div class="box-header" data-ng-include="'pages/common/box-header.html'">
                <!-- pages/common/box-header.html -->
            </div>
            
            
            <div class="box-body" data-ng-include="'pages/common/box-body.html'">
                <!-- pages/common/box-body.html -->
            </div>
            
            <div class="box-footer" data-ng-include="'pages/common/box-footer.html'">
                <!-- pages/common/box-footer.html -->
            </div>
        </div>
    </div>
</div>

<!-- 模态框（删除） -->
<div data-ng-include="'pages/common/modal-del.html'"></div>

<!-- 模态框（查找） -->
<div class="modal fade" id="modal_search" name="modal_search" role="dialog" aria-labelledby="modal_search" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_search_title">{{ langs.modal_search_header }}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="modal_search_form" novalidate="novalidate">
                    <div class="row">
                    
                        <!-- file_name -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.file_name }}：</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <input type="text" class="form-control pull-left" data-ng-model="search.file_name">
                                </div>
                            </div>
                        </div>

                        <!-- last_mod_time -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.last_mod_time }}：</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <input type="text" class="form-control pull-left" id="search_last_mod_time" name="search_last_mod_time" data-ng-model="search.last_mod_time">
                                </div>
                            </div>
                        </div>
                        
                        <!-- tags -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.tags }}：</label>
                            <div class="col-sm-7">
                                <select multiple class="form-control select2" tabindex="-1" id="search_tags_select2" data-ng-model="search.tags" style="width:100%">
                                    <option data-ng-repeat="tag in image_tags_conf" value="{{ tag.tag_id }}" >
                                        {{ tag.tag_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-ng-click="modal_search_ok()">{{ langs.modal_search_ok }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ langs.modal_close_btn }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- 模态框（view） -->
<div class="modal fade" id="modal_view" name="modal_view" role="dialog" aria-labelledby="modal_detail" aria-hidden="true">
    <div class="modal-dialog" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_detail_title">{{ view.items[0].file_name }} [{{ view.items[0].file_size }}KB]</h4>
            </div>
            <div id="modal_detail_body" class="modal-body" data-ng-click="modal_view_click()" style="height:{{modal_max_height}}px;">
                <image id="modal_image" style="margin: auto;display: block; max-width:100%;max-height:100%" src="{{image_url}}" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-ng-click="modal_view_del_direct(view.items[0])" title="{{langs.del}}"><i class="fa fa-times"></i></button>
                <button type="button" class="btn btn-primary" data-ng-click="modal_view_jump(-1)" title="{{langs.backword}}"><i class="fa fa-backward"></i></button>
                <button type="button" class="btn btn-primary" data-ng-click="modal_view_jump(1)" title="{{langs.forward}}"><i class="fa fa-forward"></i></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ langs.modal_close_btn }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- 模态框（新增/修改） -->
<div class="modal fade" id="modal_add" name="modal_add" role="dialog" aria-labelledby="modal_add" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_add_title">{{ langs[add.a] }}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="modal_add_form" novalidate="novalidate">
                    <div class="row">

                        <!-- file_name -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.path }}：</label>
                            <div class="col-sm-7">
                                <textarea rows="3" class="form-control pull-left" data-ng-model="add.path">
                                </textarea>
                            </div>
                        </div>

                        <!-- file_name -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.file_name }}：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control pull-left" id="search_file_name" name="search_file_name" data-ng-model="add.file_name">
                            </div>
                        </div>

                        <!-- file_name -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.description }}：</label>
                            <div class="col-sm-7">
                                <textarea rows="5" class="form-control pull-left" data-ng-model="add.description">
                                </textarea>
                            </div>
                        </div>

                        <!-- tags -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.tags }}：</label>
                            <div class="col-sm-7">
                                <select multiple class="form-control" id="add_tags_select2" tabindex="-1" data-ng-model="add.tags" style="width:100%">
                                    <option data-ng-repeat="tag in image_tags_conf" value="{{ tag.tag_id }}" >
                                        {{ tag.tag_name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- add tag -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.add_tag }}：</label>
                            <div class="col-sm-7">
                                <input  class="form-control" tabindex="-1" data-ng-model="add_tag" style="width:40%;float:left; margin-right:5px;"/>
                                <button data-ng-if="add_tag" class="btn btn-success" data-ng-click="modal_add_tag_add()"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-ng-click="modal_add_ok()">{{ langs.submit }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ langs.modal_close_btn }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
