<!-- 数据显示box -->
<div class="main-box" data-ng-show="r">
    <div class="box">

        <div class="box-header" data-ng-include="'pages/common/box-header.html'">
            <!-- pages/common/box-header.html -->
        </div>


        <div class="box-body" data-ng-include="'pages/common/box-body.html'">
            <!-- pages/common/box-body.html -->
        </div>

        <div class="box-footer" data-ng-include="'pages/common/box-footer.html'">
            <!-- pages/common/box-footer.html -->
        </div>
    </div>
</div>



<!-- 模态框（查找） -->
<div class="modal fade" id="modal_search" name="modal_search" role="dialog" aria-labelledby="modal_search" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_search_title">{{ langs.modal_search_header }}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="modal_search_form" novalidate="novalidate">
                    <div class="row">
                        
                        <!-- username -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.userId }}：</label>
                            <div class="col-sm-7">
                                <select class="form-control select2" tabindex="-1" data-ng-change="modal_search_title_not_submit()" data-ng-model="search.userId" style="width:100%">
                                    <option value="">{{ langs.user_all }}</option>
                                    <option data-ng-repeat="(userid,x) in admin_users" value="{{ x.id }}" >
                                        {{ x.id+' : '+x.userName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                
                        <!-- logintime -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.loginTime }}：</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-left" id="search_time" name="search_time" data-ng-change="modal_search_title_not_submit()" data-ng-model="search.loginTime">
                                </div>
                            </div>
                        </div>
                        
                        <!-- loginip -->
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label class="col-sm-4 col-sm-offset-1 control-label">{{ langs.loginIp }}：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="search_loginip" name="search_loginip" data-ng-change="modal_search_title_not_submit()" data-ng-model="search.loginIp" placeholder="{{langs.search_loginip_placeholder}}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-ng-click="modal_search_ok()">{{ langs.modal_search_ok }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ langs.modal_close_btn }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>